<head>
  <script src="https://cdn.jsdelivr.net/npm/dplayer@1.27.0/dist/DPlayer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@1.2.7/dist/hls.min.js"></script>
</head>

<body class="dplayer-web-fullscreen-fix">

<div id="dplayer" class="dplayer-fulled"></div>

<script th:inline="javascript">

  let request = new XMLHttpRequest();
  request.responseType = 'blob';
  request.open('get', '[(${playurl})]', true);
  //request.setRequestHeader('Host', `global.zkshuye.cn`);
  const dp = new DPlayer({
    container: document.getElementById('dplayer'),
    live: true,
    video: {
      url: '[(${playurl})]',
      type: 'hls',
    },
    pluginOptions: {
      hls: {
        // hls config
      },
    },
  });
</script>
</body>
